{% extends 'accounts/base.html' %}
{% block title %} Profile Update {% endblock title %}
{% block content %}
<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">{% if form %}
      <div class="card">
        <div class="card-body">
          <h4>Profile Update</h4>
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{error}}</div>
              {% endfor %}
            {% endif %}
            {% for field in form %}
            <div class="form-group">
              {{field.label_tag}} 
              {{field}}
              {% if field.errors %}
                {% for error in field.errors %}
                  <small style="color: red;">{{error}}</small>
                {% endfor %}
              {% endif %}
            </div> <br>
            {% endfor %}
            <input type="submit" value="Change" class="btn btn-info">
          </form>
        </div>
      </div>
    </div>{% endif %}
  </div>
</div>
{% endblock content %}