<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="get">
    <!-- <input type="date" name="date" id=""> <br><br>
    <input type="time" name="time" id=""> <br> <br>
    <input type="datetime" name="datetime" id=""> <br> <br> -->
    <input type="datetime-local" name="datetime-local" id=""> <br><br>

    <input type="submit" value="Submit">
  </form>
  
</body>
</html>