{% extends 'accounts/base.html' %}
{% block title %} Search for {{query}} {% endblock title %}
{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="row">
      <div class="col-2 offset-3"><h5>Search Result: {{total_result}}</h5></div>
      <div class="col-md-3"><h4>Search for : {{query}}</h4></div>
    </div>
    
    <div class="col-md-2 offset-md-1">{% url 'home' as home %}
      <ol class="list-group list-group">
        <a href="{% url 'home' %}" style="text-decoration: none;" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
           <div class="fw-{% if request.path == home %}bold{% endif %} ">All Category</div>
          </div><span class="badge bg-primary rounded-pill">{{published_total_count}}</span>
        </a>
      </ol>
      {% for category in categories %}
      <ol class="list-group list-group">
        <a href="{% url 'home' %}?category={{category.id}}" style="text-decoration: none;" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
           <div class="fw-{% if request.GET.category|floatformat:"0" == category.id %}bold{% endif %}">{{category.name}}</div>
          </div><span class="badge bg-primary rounded-pill">{{category.get_published_count}}</span>
        </a>
      </ol>
      {% endfor %}
    </div>
    <div class="col-md-6">
      {% for post in posts %}
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img src="{{post.image.url}}" alt="{{post.title}}" style="width:100%; height: 140px; object-fit: cover;">
            </div>
            <div class="col-9">
              <a href="{% url 'post-detail' post.id %}" style="text-decoration: none;"><h5>{{post.title|truncatewords:15}}</h5></a> 
              <div> <a href="{% url 'home' %}?category={{post.category.id}}" style="text-decoration: none;">{{post.category.name}}</a> | @{{post.user.username}}</div>
              <div>{{post.summary|truncatewords:15}}</div>
              <div class="mb-2 mt-2"><a href="{% url 'post-detail' post.id %}" class="other-link">Read</a></div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="box">
        <h4>No posts</h4>
      </div>
    {% endfor %}
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'search' %}" id="form">
            <input type="text" name="query" id="search" class="form-control" placeholder="Search">
            <br>
            <input type="submit" value="Search" class="btn btn-sm btn-success">
          </form>
        </div>
      </div>
    </div>
  
  </div>
</div>
{% endblock content %}

{% block footer %}
<div class="text-center mt-5 mb-5">
  {% if request.GET.category %}
    Category is set  {{request.GET.category}}
  {% endif %} <br>
  {% if posts.has_previous %}
  <a href="{% url 'home' %}?page={{posts.previous_page_number}}{% if request.GET.category %}&category={{request.GET.category}}{% endif %}&search={{query}}" class="other-link">Previous Posts</a>
  {% endif %}
  {% if posts.has_next %}
  <a href="{% url 'home' %}?page={{posts.next_page_number}}{% if request.GET.category %}&category={{request.GET.category}}{% endif %}&search={{query}}" class="other-link">More Posts</a>
  {% endif %}
</div>
<br><br><br>
<script>
  const search = document.getElementById("search");

const form = document.getElementById("form");

form.onsubmit = (event) => {
  event.preventDefault();
  
  const small = document.querySelectorAll("small");
  for (let i = 0; i < small.length; i++) {
    let el = small[i];
    el.remove();
  }
  
  const pattern = new RegExp("[A-Za-z0-9]+");
  
  let searchValidate = pattern.test(search.value);
 
  if(!searchValidate){
    search.insertAdjacentHTML("afterend", '<small style="color:red;">Enter valid text</small>')
  }
  
  if(searchValidate) {
    form.submit();
  } 
}
</script>
{% endblock footer %}