{% extends 'myapp/base.html' %}{% load static %}
{% block title %} Update Posts {% endblock title %}
{% block content %}
<div class="box">
  <h4 class="text-center">Update Post</h4>
  <div class="card mt-2">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %} 
        {% endif %}
        {% for field in form %}
        <div class="form-group">
          {{field.label_tag}}
          {{field}}
          {% if field.errors %} 
            {% for error in field.errors %}
            <small style="color: red;">{{error}}</small> 
            {% endfor %}
          {% endif %} <br>
        </div>
        {% endfor %}
        <input type="submit" value="Update" class="btn btn-outline-success">
      </form>
    </div>
  </div>
</div>
<br>
{% endblock content %}